body { 
    font-family: Verdana; 
    font-size: 20px; 
    color: #444; 
    background-image: url("../back2.jpg");
    background-size: 100% 100%;
} 

html {
    height: 100%
}

a {text-decoration: none}

a:hover {text-decoration: underline;}


#container { 
    width: 700px; 
    margin: 100px; 
    padding: 15px; 
} 

table {
    width: 450px;
    background-color: #eee;
}

table th {
    padding: 10px;
    background-color: #48577D;
    color: #fff;
    text-align: center;
}

table td {
    padding: 5px;
}

p.alert {
    font-size: 34px; 
    color: red;
    text-align: center; 
}